# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Import user-specific configurations
try-import %workspace%/user.bazelrc

build --per_file_copt=external/score_baselibs.*/.*@-Wno-deprecated-declarations
common --@score_baselibs//score/json:base_library=nlohmann # TODO : https://github.com/eclipse-score/baselibs/issues/57

build --java_language_version=17
build --tool_java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_runtime_version=remotejdk_17

# Only contact license server every 59 secs per tool and not for every tool invocation to avoid flooding the license server
common --action_env=QNX_LICENSE_EXTSERVER_DELAY=59

test --test_output=errors

# Bazel registry configuration
common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build
# QNX credential helper configuration
common --credential_helper=*.qnx.com=%workspace%/.github/tools/qnx_credential_helper.py
common --credential_helper_timeout="60s"

# Shared configuration for simple test execution
build:shared --incompatible_strict_action_env
build:shared --sandbox_writable_path=/var/tmp
build:shared --host_platform=@score_bazel_platforms//:x86_64-linux

# Shared qnx configuration
build:shared_qnx --config=shared
build:shared_qnx --copt=-D_QNX_SOURCE
build:shared_qnx --copt=-DGRPC_POSIX_SOCKET
build:shared_qnx --copt=-DGRPC_POSIX_SOCKETUTILS
build:shared_qnx --copt=-DGRPC_POSIX_WAKEUP_FD
build:shared_qnx --copt=-DIP_PKTINFO=0
build:shared_qnx --cxxopt=-D_QNX_SOURCE
build:shared_qnx --cxxopt=-DGRPC_POSIX_SOCKET
build:shared_qnx --cxxopt=-DGRPC_POSIX_SOCKETUTILS
build:shared_qnx --cxxopt=-DGRPC_POSIX_WAKEUP_FD
build:shared_qnx --cxxopt=-DIP_PKTINFO=0

# -------------------------------------------------------------------------------
# Config dedicated to host platform CPU:x86_64 and OS:Linux
# -------------------------------------------------------------------------------
build:x86_64-linux --config=shared
build:x86_64-linux --platforms=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
build:x86_64-linux --extra_toolchains=@score_gcc_x86_64_toolchain//:x86_64-linux-gcc_12.2.0
build:x86_64-linux --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_unknown_linux_gnu
build:x86_64-linux --features=use_pthread

# -------------------------------------------------------------------------------
# Config dedicated to target platform CPU:aarch64 and OS:linux
# -------------------------------------------------------------------------------
build:aarch64-linux --config=shared
build:aarch64-linux --platforms=@score_bazel_platforms//:aarch64-linux-gcc_12.2.0-posix
build:aarch64-linux --extra_toolchains=@score_gcc_aarch64_toolchain//:aarch64-linux-gcc_12.2.0
build:aarch64-linux --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_aarch64_unknown_linux_gnu

# -------------------------------------------------------------------------------
# Config dedicated to target platform CPU:x86_64 and OS:QNX
# -------------------------------------------------------------------------------
build:x86_64-qnx --config=shared_qnx
# Use custom platform that extends score platform with @platforms//os:qnx constraint
build:x86_64-qnx --platforms=//platforms:x86_64-qnx-extended
build:x86_64-qnx --extra_toolchains=@score_qcc_x86_64_toolchain//:x86_64-qnx-sdp_8.0.0
build:x86_64-qnx --extra_toolchains=@score_qnx_x86_64_ifs_toolchain//:ifs-x86_64-qnx-sdp_8.0.0
build:x86_64-qnx --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_pc_nto_qnx800
test:x86_64-qnx --run_under=@score_qnx_unit_tests//src:run_under_qnx
test:x86_64-qnx --test_lang_filters=cc,rust
test:aarch64-qnx --test_timeout=180,900,2700,10800 # Increase default test timeout by factor 3

# -------------------------------------------------------------------------------
# Config dedicated to target platform CPU:aarch64 and OS:QNX
# -------------------------------------------------------------------------------
build:aarch64-qnx --config=shared_qnx
# Use custom platform that extends score platform with @platforms//os:qnx constraint
build:aarch64-qnx --platforms=//platforms:aarch64-qnx-extended
build:aarch64-qnx --extra_toolchains=@score_qcc_aarch64_toolchain//:aarch64-qnx-sdp_8.0.0
build:aarch64-qnx --extra_toolchains=@score_qnx_aarch64_ifs_toolchain//:ifs-aarch64-qnx-sdp_8.0.0
build:aarch64-qnx --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_aarch64_unknown_nto_qnx800
test:aarch64-qnx --run_under=@score_qnx_unit_tests//src:run_under_qnx
test:aarch64-qnx --test_lang_filters=cc,rust
test:aarch64-qnx --test_timeout=180,900,2700,10800 # Increase default test timeout by factor 3
